"*":
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    projectHome: "/Users/raphael.horber/Sites"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    showInvisibles: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
